@model QuanLySinhVien.Models.Lop

@{
    ViewBag.Title = "Thêm lớp học mới";
}

<div class="row mb-4">
    <div class="col-12">
        <h2 class="page-title">
            <i class="fas fa-plus-circle"></i> Thêm lớp học mới
        </h2>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <i class="fas fa-edit"></i> Nhập thông tin lớp học
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Lop", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.MaLop, new { @class = "form-label" })
                        <span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.MaLop, new { @class = "form-control", placeholder = "Ví dụ: 14DHTH1" })
                        @Html.ValidationMessageFor(model => model.MaLop, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.TenLop, new { @class = "form-label" })
                        <span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.TenLop, new { @class = "form-control", placeholder = "Ví dụ: 14 Đại học Tin học 1" })
                        @Html.ValidationMessageFor(model => model.TenLop, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.SiSo, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.SiSo, new { @class = "form-control", type = "number", min = "0", Value = "0" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.MaKhoa, new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.MaKhoa,
                            (IEnumerable<SelectListItem>)ViewBag.DanhSachKhoa,
                            "-- Chọn khoa --",
                            new { @class = "form-select" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        @Html.LabelFor(model => model.MaHeDT, new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.MaHeDT,
                            (IEnumerable<SelectListItem>)ViewBag.DanhSachHeDT,
                            "-- Chọn hệ đào tạo --",
                            new { @class = "form-select" })
                    </div>
                </div>
            </div>

            <hr />

            <div class="text-end">
                <a href="@Url.Action("Index")" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Quay lại
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Lưu thông tin
                </button>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}